opale-finder/src/test/resources/opale_test.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="opale_test" targetNamespace="opale_test">
	<xsd:element name="draftlignedetail" type="draftlignedetail__type" />
	<xsd:element name="paiement" type="paiement__type" />
	<xsd:element name="signature" type="signature__type" />
	<xsd:element name="dbmaintain_scripts" type="dbmaintain_scripts__type" />
	<xsd:element name="commande" type="commande__type" />
	<xsd:element name="draftligne" type="draftligne__type" />
	<xsd:element name="frais" type="frais__type" />
	<xsd:element name="keygen" type="keygen__type" />
	<xsd:element name="tarif" type="tarif__type" />
	<xsd:element name="commandelignedetail" type="commandelignedetail__type" />
	<xsd:element name="commandeligne" type="commandeligne__type" />
	<xsd:element name="draft" type="draft__type" />
	<xsd:element name="client" type="client__type" />
	<xsd:element name="reduction" type="reduction__type" />
	<xsd:element name="tracage" type="tracage__type" />
	<xsd:complexType name="draftlignedetail__type">
		<xsd:attribute name="numEC" use="optional" />
		<xsd:attribute name="dependDe" use="optional" />
		<xsd:attribute name="modePaiement" use="optional" />
		<xsd:attribute name="configurationJson" use="optional" />
		<xsd:attribute name="draftLigneId" use="optional" />
		<xsd:attribute name="referenceTarif" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="referenceSelection" use="optional" />
		<xsd:attribute name="referenceChoix" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="paiement__type">
		<xsd:attribute name="idPaiement" use="optional" />
		<xsd:attribute name="infoPaiement" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="typePaiement" use="optional" />
		<xsd:attribute name="modePaiement" use="optional" />
		<xsd:attribute name="dateAnnulation" use="optional" />
		<xsd:attribute name="montant" use="optional" />
		<xsd:attribute name="referenceCommande" use="optional" />
		<xsd:attribute name="timestampIntention" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="timestampPaiement" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="signature__type">
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="dateAnnulation" use="optional" />
		<xsd:attribute name="referenceCommande" use="optional" />
		<xsd:attribute name="timestampIntention" use="optional" />
		<xsd:attribute name="idSignature" use="optional" />
		<xsd:attribute name="mode" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="footprint" use="optional" />
		<xsd:attribute name="timestampSignature" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="dbmaintain_scripts__type">
		<xsd:attribute name="file_name" use="optional" />
		<xsd:attribute name="executed_at" use="optional" />
		<xsd:attribute name="checksum" use="optional" />
		<xsd:attribute name="file_last_modified_at" use="optional" />
		<xsd:attribute name="version" use="optional" />
		<xsd:attribute name="succeeded" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="commande__type">
		<xsd:attribute name="dateTransformationContrat" use="optional" />
		<xsd:attribute name="dateCreation" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="codePartenaire" use="optional" />
		<xsd:attribute name="dateAnnulation" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="clientALivrerId" use="optional" />
		<xsd:attribute name="referenceDraft" use="optional" />
		<xsd:attribute name="clientSouscripteurId" use="optional" />
		<xsd:attribute name="clientAFacturerId" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="draftligne__type">
		<xsd:attribute name="numEC" use="optional" />
		<xsd:attribute name="dateCreation" use="optional" />
		<xsd:attribute name="draftId" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="modePaiement" use="optional" />
		<xsd:attribute name="referenceTarif" use="optional" />
		<xsd:attribute name="referenceOffre" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="referenceContrat" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="geste" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="frais__type">
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="typeTVA" use="optional" />
		<xsd:attribute name="politique" use="optional" />
		<xsd:attribute name="typeFrais" use="optional" />
		<xsd:attribute name="montant" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="label" use="optional" />
		<xsd:attribute name="politiqueIndex" use="optional" />
		<xsd:attribute name="tarifId" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="keygen__type">
		<xsd:attribute name="entite" use="optional" />
		<xsd:attribute name="referenceDraft" use="optional" />
		<xsd:attribute name="prefix" use="optional" />
		<xsd:attribute name="id" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="tarif__type">
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="engagement" use="optional" />
		<xsd:attribute name="typeTVA" use="optional" />
		<xsd:attribute name="prix" use="optional" />
		<xsd:attribute name="duree" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="frequence" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="commandelignedetail__type">
		<xsd:attribute name="numEC" use="optional" />
		<xsd:attribute name="dependDe" use="optional" />
		<xsd:attribute name="modePaiement" use="optional" />
		<xsd:attribute name="configurationJson" use="optional" />
		<xsd:attribute name="typeProduit" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="label" use="optional" />
		<xsd:attribute name="referenceSelection" use="optional" />
		<xsd:attribute name="tarifId" use="optional" />
		<xsd:attribute name="commandeLigneId" use="optional" />
		<xsd:attribute name="referenceChoix" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="commandeligne__type">
		<xsd:attribute name="numEC" use="optional" />
		<xsd:attribute name="dateCreation" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="numero" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="commandeId" use="optional" />
		<xsd:attribute name="modePaiement" use="optional" />
		<xsd:attribute name="typeProduit" use="optional" />
		<xsd:attribute name="label" use="optional" />
		<xsd:attribute name="tarifId" use="optional" />
		<xsd:attribute name="modeFacturation" use="optional" />
		<xsd:attribute name="referenceOffre" use="optional" />
		<xsd:attribute name="referenceContrat" use="optional" />
		<xsd:attribute name="secteur" use="optional" />
		<xsd:attribute name="gamme" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="famille" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="draft__type">
		<xsd:attribute name="commandeSource" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="codePartenaire" use="optional" />
		<xsd:attribute name="dateAnnulation" use="optional" />
		<xsd:attribute name="dateTransformationCommande" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="clientALivrerId" use="optional" />
		<xsd:attribute name="referenceExterne" use="optional" />
		<xsd:attribute name="clientSouscripteurId" use="optional" />
		<xsd:attribute name="clientAFacturerId" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="geste" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="client__type">
		<xsd:attribute name="clientId" use="optional" />
		<xsd:attribute name="qui" use="optional" />
		<xsd:attribute name="adresseId" use="optional" />
		<xsd:attribute name="ip" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="canal" use="optional" />
		<xsd:attribute name="timestamp" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="reduction__type">
		<xsd:attribute name="valeur" use="optional" />
		<xsd:attribute name="referenceReduction" use="optional" />
		<xsd:attribute name="nbUtilisationMax" use="optional" />
		<xsd:attribute name="referenceTarif" use="optional" />
		<xsd:attribute name="label" use="optional" />
		<xsd:attribute name="referenceFrais" use="optional" />
		<xsd:attribute name="reference" use="optional" />
		<xsd:attribute name="referenceLigneDetail" use="optional" />
		<xsd:attribute name="dateDebut" use="optional" />
		<xsd:attribute name="referenceDraft" use="optional" />
		<xsd:attribute name="typeValeur" use="optional" />
		<xsd:attribute name="referenceLigne" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="dateFin" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="tracage__type">
		<xsd:attribute name="date" use="optional" />
		<xsd:attribute name="referenceDraft" use="optional" />
		<xsd:attribute name="action" use="optional" />
		<xsd:attribute name="id" use="optional" />
		<xsd:attribute name="user" use="optional" />
	</xsd:complexType>
</xsd:schema>
