src/test/resources/dtd/Opale.dtd

<!ELEMENT dataset (keygen*,client*,draft*, draftLigne*, draftLigneDetail*, commande*, paiement*)>

<!ELEMENT draft EMPTY>
<!ATTLIST draft
    id CDATA #IMPLIED
    reference CDATA #IMPLIED
    clientAFacturerId CDATA #IMPLIED
    clientALivrerId CDATA #IMPLIED
    clientSouscripteurId CDATA #IMPLIED
    code CDATA #IMPLIED
    qui CDATA #IMPLIED
    ip CDATA #IMPLIED
    canal CDATA #IMPLIED
    timestamp CDATA #IMPLIED
    referenceExterne CDATA #IMPLIED
    dateAnnulation  CDATA #IMPLIED
>
<!ELEMENT draftLigne EMPTY>
<!ATTLIST draftLigne
    id CDATA #IMPLIED
    reference CDATA #IMPLIED
    referenceTarif CDATA #IMPLIED
    modePaiement CDATA #IMPLIED
    modeFacturation CDATA #IMPLIED
    dateCreation CDATA #IMPLIED
    code CDATA #IMPLIED
    qui CDATA #IMPLIED
    ip CDATA #IMPLIED
    canal CDATA #IMPLIED
    timestamp CDATA #IMPLIED
    draftId CDATA #IMPLIED
    referenceOffre CDATA #IMPLIED
>
<!ELEMENT draftLigneDetail EMPTY>
<!ATTLIST draftLigneDetail
     id CDATA #IMPLIED
    referenceSelection CDATA #IMPLIED
    reference CDATA #IMPLIED
    referenceChoix CDATA #IMPLIED
    referenceTarif CDATA #IMPLIED
    modePaiement CDATA #IMPLIED
    configurationJson CDATA #IMPLIED
    dependDe CDATA #IMPLIED
    draftLigneId CDATA #IMPLIED
>

<!ELEMENT tracage EMPTY>
<!ATTLIST tracage
     id CDATA #IMPLIED
    referenceDraft CDATA #IMPLIED
    action CDATA #IMPLIED
    user CDATA #IMPLIED
    date CDATA #IMPLIED
>

<!ELEMENT keygen EMPTY>
<!ATTLIST keygen
     id CDATA #IMPLIED
    referenceDraft CDATA #IMPLIED
    entite CDATA #IMPLIED
>

<!ELEMENT client EMPTY>
<!ATTLIST client
     id CDATA #IMPLIED
    adresseId CDATA #IMPLIED
    clientId CDATA #IMPLIED
>

<!ELEMENT commande EMPTY>
<!ATTLIST commande
    id CDATA #IMPLIED
    reference CDATA #IMPLIED
    referenceDraft CDATA #IMPLIED
    clientAFacturerId CDATA #IMPLIED
    clientALivrerId CDATA #IMPLIED
    clientSouscripteurId CDATA #IMPLIED
    dateCreation CDATA #IMPLIED
    code CDATA #IMPLIED
    qui CDATA #IMPLIED
    ip CDATA #IMPLIED
    canal CDATA #IMPLIED
    timestamp CDATA #IMPLIED
    referenceSignature CDATA #IMPLIED
>

<!ELEMENT signature EMPTY>
<!ATTLIST signature
    id CDATA #IMPLIED
    reference CDATA #IMPLIED
    mode CDATA #IMPLIED
    timestamp CDATA #IMPLIED
    footprint CDATA #IMPLIED
    idSignature  CDATA #IMPLIED
>

<!ELEMENT paiement EMPTY>
<!ATTLIST paiement
    id CDATA #IMPLIED
    infoPaiement CDATA #IMPLIED
    modePaiement CDATA #IMPLIED
    montant CDATA #IMPLIED
    reference CDATA #IMPLIED
    referenceCommande CDATA #IMPLIED
>

